<div class="row m-1" *ngIf="member">
    <div class="col-4">
        <div class="card" style="border-radius: 20px;">
            <div class="card-img-wrapper">
                <div class="ratio ratio-1x1">
                    <img src="{{member.profilePhotoURL || './assets/user.png'}}" alt="member.nickName" class="card-img-top img-thumbnail">
                </div>
                <ul class="list-inline member-icons animate text-center">
                    <li class="list-inline-item" *ngIf="facebookSet()">
                        <a href={{member.facebookURL}}>
                            <button class="btn btn-primary" id="b1" style="background-color: #4267B2; border: 0;"><i class="fa fa-facebook"></i></button>
                        </a>
                    </li>
                    <li class="list-inline-item" *ngIf="twitterSet()">
                        <a href={{member.twitterURL}}>
                            <button class="btn btn-primary" id="b2" style="background-color: #1DA1F2; border: 0;"><i class="fa fa-twitter"></i></button>
                        </a>
                    </li>
                    <li class="list-inline-item" *ngIf="githubSet()">
                        <a href={{member.gitHubURL}}>
                            <button class="btn btn-primary" id="b3" style="background-color: #262626; border: 0;"><i class="fa fa-github"></i></button>
                        </a>
                    </li>
                    <li class="list-inline-item" *ngIf="linkedinSet()">
                        <a href={{member.linkedInURL}}>
                            <button class="btn btn-primary" id="b4" style="background-color: #0A66C2; border: 0;"><i class="fa fa-linkedin"></i></button>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center" style="margin-top: -20px;">{{member.nickName}}</h5>
                <hr>
                <div>
                    <strong>Coding Language:</strong>
                    <p>{{member.codeLanguage}}</p>
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.country}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <!--projects, about, contact-->
            <tab heading="Projects">
                <div class="row">
                    <div class="col-3" *ngFor="let project of projects">
                        <app-project-card [project]="project" [member]="member"></app-project-card>
                    </div>
                    <div class="col-3 text-center pt-4">
                        <button class="btn btn-success btn-xlg p-3" routerLink="/{{member.userName}}/create"><i class="fa fa-plus" style="font-size: 50px;"></i></button>
                    </div>
                </div>
            </tab>
            <tab heading="About">
                <h4>Full Name:</h4>
                <p>{{member.firstName}} {{member.lastName}}</p>
                <h4>Email</h4>
                <p>{{member.email}}</p>
                <h4>Country</h4>
                <p>{{member.country}}</p>
                <h4>Description</h4>
                <p>{{member.bio}}</p>
            </tab>
            <!--
            <tab heading="Contact">
                <div class="row d-flex justify-content-center pt-3">
                    <div class="col-8">
                        <div class="card" style="border-radius: 20px;">
                            <div class="card-body pt-3 pb-3 p-4">
                                <form [formGroup]="contactForm" autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <h5 for="fullname">Full Name</h5>
                                                <app-text-input [formControl]="contactForm.controls['fullname']" [label]="'Enter your name'"></app-text-input>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <h5 for="email">Email</h5>
                                                <app-text-input [formControl]="contactForm.controls['email']" [label]="'Enter your email'"></app-text-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline">
                                        <h5 for="subject">Subject</h5>
                                        <app-text-input [formControl]="contactForm.controls['subject']" [label]="'Subject'"></app-text-input>
                                    </div>
                                    <div class="form-outline">
                                        <h5 for="message">Message</h5>
                                        <textarea class="form-control message"></textarea>
                                    </div>
                                    <div class="text-center pt-2">
                                        <button class="btn btn-primary" type="submit" (click)="submit()" [disabled]="!contactForm.valid">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tab> -->
        </tabset>
    </div>
</div>