<br><br><br>
<div class="row d-flex justify-content-center">
    <div class="col-5 col-md-2 col-lg-2 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem;">
            <div class="card-body pt-3 pb-2 p-5 text-center">
                <div class="mb-md-4 mt-md-2">
                    <h1 class="fw-bold mb-2 text-uppercase">Error 404: <br> Not Found</h1>
                    <button class="btn btn-info btn-lg px-4" routerLink="/">Return to home page</button>
                </div>
            </div>
        </div>
    </div>
</div>