<footer class="bg-dark text-center text-white mt-4">
    <div class="pt-3">
        <h5 class="mb-0 pb-0">Connect with us</h5>
    </div>
    <div class="container p-2">
        <section class="">
            <a class="btn btn-outline-light m-1 facebookIcon" href="https://www.facebook.com/stefanos.rigo/" role="button"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-outline-light m-1 twitterIcon" href="https://twitter.com/CaptainKamora/" role="button"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-outline-light m-1 googleIcon" href="#!" role="button"><i class="fa fa-google"></i></a>
            <a class="btn btn-outline-light m-1 instagramIcon" href="https://www.instagram.com/stefanos_rigo/" role="button"><i class="fa fa-instagram"></i></a>
            <a class="btn btn-outline-light m-1 linkedInIcon" href="https://www.linkedin.com/in/stefanos-rigopoulos-a0024a257/" role="button"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-outline-light m-1 gitHubIcon" href="https://github.com/StefanosRigopoulos/" role="button"><i class="fa fa-github"></i></a>
        </section>
    </div>
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    ©2022-2023 • <a href="#!">CodePortfolio.gr</a> • All Rights Reserved.
    </div>
</footer>