<div class="row d-flex justify-content-center">
    <div class="col-11">
        <div class="card" style="border-radius: 20px;">
            <div class="row g-0">
                <div class="col-md-5 col-lg-6 d-none d-md-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;">
                </div>
                <div class="col-md-4 col-lg-6 d-flex">
                    <div class="card-body p-lg-5 text-black">
                        <div class="d-flex align-items-center mb-3">
                            <span class="h1 fw-bold mb-0">Registration Form</span>
                        </div>
                        <h5 class="fw-normal mb-2 pb-2" style="letter-spacing: 1px;">Start your journey today!</h5>
                        <form [formGroup]="registerForm" id="msform" autocomplete="off">
                            <fieldset *ngIf="step == 1">
                                <div class="form-outline mb-2">
                                    <app-text-input [formControl]="registerForm.controls['username']" [label]="'Username'"></app-text-input>
                                </div>
                                <div class="form-outline mb-2">
                                    <app-text-input [formControl]="registerForm.controls['email']" [label]="'Email'" [type]="'email'"></app-text-input>
                                </div>
                                <div class="form-outline mb-2">
                                    <app-text-input [formControl]="registerForm.controls['password']" [label]="'Password'" [type]="'password'"></app-text-input>
                                </div>
                                <div class="form-outline mb-3">
                                    <app-text-input [formControl]="registerForm.controls['confirmPassword']" [label]="'Confirm Password'" [type]="'password'"></app-text-input>
                                </div>
                                <div class="text-center mb-2">
                                    <button class="btn btn-dark btn-lg btn-block px-4" type="button" (click)="next()">Next</button>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="step == 2">
                                <div class="form-outline mb-2">
                                    <app-text-input [formControl]="registerForm.controls['firstname']" [label]="'First Name'"></app-text-input>
                                </div>
                                <div class="form-outline mb-2">
                                    <app-text-input [formControl]="registerForm.controls['lastname']" [label]="'Last Name'"></app-text-input>
                                </div>
                                <div class="form-outline mb-2">
                                    <app-date-picker [formControl]="registerForm.controls['dateofbirth']" [type]="'text'" [maxDate]="maxDate"></app-date-picker>
                                </div>
                                <div class="form-group mb-2">
                                    <div class="row">
                                        <div class="col-5">
                                            <label for="genderSelect" class="form-label text-white mt-2">Gender</label>
                                        </div>
                                        <div class="col-7">
                                            <select class="form-select" id="genderSelect" formControlName="gender">
                                                <option selected>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                    <div class="row">
                                        <div class="col-5">
                                            <label for="countrySelect" class="form-label text-white mt-2">Country Select</label>
                                        </div>
                                        <div class="col-7">
                                            <select class="form-select" id="countrySelect" formControlName="country">
                                                <option>Albania</option>
                                                <option>Andorra</option>
                                                <option>Austria</option>
                                                <option>Belarus</option>
                                                <option>Belgium</option>
                                                <option>Bosnia and Herzegovina</option>
                                                <option>Bulgaria</option>
                                                <option>Croatia</option>
                                                <option>Czech Republic</option>
                                                <option>Denmark</option>
                                                <option>Estonia</option>
                                                <option>Finland</option>
                                                <option>France</option>
                                                <option>Germany</option>
                                                <option>Greece</option>
                                                <option>Hungary</option>
                                                <option>Iceland</option>
                                                <option>Italy</option>
                                                <option>Latvia</option>
                                                <option>Liechtenstein</option>
                                                <option>Lithuania</option>
                                                <option>Luxembourg</option>
                                                <option>Malta</option>
                                                <option>Moldova</option>
                                                <option>Monaco</option>
                                                <option>Montenegro</option>
                                                <option>Netherlands</option>
                                                <option>North Macedonia</option>
                                                <option>Norway</option>
                                                <option>Poland</option>
                                                <option>Portugal</option>
                                                <option>Romania</option>
                                                <option>Russia</option>
                                                <option>San Marino</option>
                                                <option>Serbia</option>
                                                <option>Slovakia</option>
                                                <option>Slovenia</option>
                                                <option>Spain</option>
                                                <option>Sweden</option>
                                                <option>Switzerland</option>
                                                <option>Ukraine</option>
                                                <option>United Kingdom</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="row">
                                        <div class="col-5">
                                            <label for="codeLanguageSelect" class="form-label text-white mt-2">Coding Language: </label>
                                        </div>
                                        <div class="col-7">
                                            <select class="form-select" id="codeLanguageSelect" formControlName="codelanguage">
                                                <option>Assembly Language</option>
                                                <option>Ada</option>
                                                <option>Bash</option>
                                                <option>C</option>
                                                <option>C++</option>
                                                <option>C#</option>
                                                <option>COBOL</option>
                                                <option>D</option>
                                                <option>Dart</option>
                                                <option>Delphi</option>
                                                <option>Fortran</option>
                                                <option>Go</option>
                                                <option>Haskell</option>
                                                <option>Java</option>
                                                <option>JavaScript</option>
                                                <option>Julia</option>
                                                <option>Kotlin</option>
                                                <option>Lisp</option>
                                                <option>Logo</option>
                                                <option>Lua</option>
                                                <option>MATLAB</option>
                                                <option>Objective C</option>
                                                <option>Perl</option>
                                                <option>PHP</option>
                                                <option>Prolog</option>
                                                <option>Python</option>
                                                <option>R</option>
                                                <option>Ruby</option>
                                                <option>Rust</option>
                                                <option>SAS</option>
                                                <option>Scala</option>
                                                <option>Scratch</option>
                                                <option>SQL</option>
                                                <option>Swift</option>
                                                <option>Transact SQL</option>
                                                <option>Visual Basic</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-2">
                                    <button class="btn btn-dark btn-lg btn-block px-4 me-3" type="button" (click)="previous()">Previous</button>
                                    <button class="btn btn-dark btn-lg btn-block px-4 ms-3" type="button" (click)="next()">Next</button>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="step == 3">
                                <div class="form-outline mb-2">
                                    <app-text-input [formControl]="registerForm.controls['facebook']" [label]="'Facebook Profile URL'"></app-text-input>
                                </div>
                                <div class="form-outline mb-2">
                                    <app-text-input [formControl]="registerForm.controls['twitter']" [label]="'Twitter Profile URL'"></app-text-input>
                                </div>
                                <div class="form-outline mb-2">
                                    <app-text-input [formControl]="registerForm.controls['github']" [label]="'GitHUB Profile URL'"></app-text-input>
                                </div>
                                <div class="form-outline mb-3">
                                    <app-text-input [formControl]="registerForm.controls['linkedin']" [label]="'LinkedIn Profile URL'"></app-text-input>
                                </div>
                                <div class="form-check justify-content-center align-items-center mb-4">
                                    <input class="form-check-input me-2" type="checkbox" id="checkForRegister">
                                    <label class="form-check-label" for="checkForRegister"> I agree to the <a class="text-body"><u>Terms of service</u></a> </label>
                                </div>
                                <div class="text-center mb-2">
                                    <button class="btn btn-dark btn-lg btn-block px-4 me-2" type="button" (click)="previous()">Previous</button>
                                    <button class="btn btn-success btn-lg btn-block px-4 ms-2" type="submit" (click)="submit()" [disabled]="!registerForm.valid">Sign Up</button>
                                </div>
                            </fieldset>
                        </form>
                        <p class="text-center text-muted mt-2 mb-0">Have already an account? <a class="fw-bold text-body" routerLink="/login" routerLinkActive="active"><u>Sign In</u></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
            {{error}}
        </li>
    </ul>
</div>