<div class="row d-flex justify-content-center">
    <div class="col-7 col-md-3 col-lg-3 col-xl-5">
        <div class="card text-white" style="border-radius: 20px;">
            <div class="card-body pt-3 pb-4 p-5 text-center">
                <div class="mb-md-4 mt-md-2">
                    <h2 class="fw-bold mb-2 text-uppercase">Sign In</h2>
                    <p class="text-white-50 mb-4">Please enter your username and password!</p>
                    <form [formGroup]="loginForm" id="msform" autocomplete="off">
                        <div class="form-outline mb-2">
                            <app-text-input [formControl]="loginForm.controls['username']" [label]="'Username'"></app-text-input>
                        </div>
                        <div class="form-outline mb-2">
                            <app-text-input [formControl]="loginForm.controls['password']" [label]="'Password'" [type]="'password'"></app-text-input>
                        </div>
                        <p class="small"><a class="text-white-50" routerLink="/reset" routerLinkActive="active">Forgot password?</a></p>
                        <button class="btn btn-dark btn-lg btn-block px-4 ms-2" type="submit" (click)="submit()" [disabled]="!loginForm.valid">Sign In</button>
                    </form>
                </div>
            <div>
                <p class="mb-0 text-white-50">Don't have an account? <a class="fw-bold text-body" routerLink="/register" routerLinkActive="active">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>